.customButton {
  width: 100px;
  height: 25px;
  letter-spacing: 0.5px;
  background-color: lightskyblue;
  color: black;
  font-size: 16px;
  border: 1.5px solid lightskyblue;
  border-radius: 0;
  cursor: pointer;
}

.active {
  background-color: deepskyblue;
  border: 1.5px solid deepskyblue;
  border-radius: 10px;
}
